*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.dropdown {
    list-style: none;
    top: 50px;
    background-color: red;
    display: block;
    position: absolute;
}

.hidden{
    display: none;
}